[Unit]
Description=Start Linux with a different hostname each boot
Wants=network-pre.target
Before=network-pre.target

[Service]
ExecStart=/usr/local/bin/random-hostname
Type=oneshot

[Install]
WantedBy=multi-user.target